.step {
  display: none;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin: 0 -20px;
  padding: 0 20px;
  z-index: 1; }
  .step::before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background-image: url(../../img/bg-wave.svg);
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 80vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    transition: top 0.5s ease-in-out; }
  .step.visible {
    display: block; }
  .step .next {
    display: block;
    font-size: 0;
    color: rgba(0, 0, 0, 0);
    width: 55px;
    height: 55px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../img/icons/arrow-next.svg);
    position: absolute;
    bottom: 35px;
    right: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.19);
    border-radius: 100px; }
  .step.step-1 h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #052356;
    margin: 70px 0 40px; }
  .step.step-1 .form-group {
    margin-bottom: 25px; }
    .step.step-1 .form-group label {
      font-weight: 500;
      font-size: 18px;
      color: #052356;
      margin: 0 0 5px;
      display: block; }
    .step.step-1 .form-group input[type="text"], .step.step-1 .form-group input[type="date"], .step.step-1 .form-group input[type="time"] {
      width: 100%;
      border-radius: 5px;
      border: 1px solid #052356;
      line-height: 35px;
      font-size: 14px;
      font-weight: 400;
      padding: 0 15px; }
  .step.step-1 .flex-group {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .step.step-1 .flex-group .form-group {
      width: calc(100% / 2 - 7.5px); }
  .step.step-2.visible::before {
    animation: Wave60 0.5s ease-in-out forwards; }
  .step.step-2 h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #052356;
    margin: 70px 0 20px; }
  .step.step-2 h3 {
    font-weight: 500;
    font-size: 20px;
    color: #052356;
    margin: 0 0 30px; }
  .step.step-2 .checklist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    .step.step-2 .checklist:last-of-type {
      justify-content: center;
      justify-content: flex-start; }
      .step.step-2 .checklist:last-of-type h3 {
        margin-top: 70px; }
    .step.step-2 .checklist .title {
      min-width: 100%; }
    .step.step-2 .checklist .check-group {
      width: calc(100% / 3 - 17px);
      text-align: center; }
      .step.step-2 .checklist .check-group + .check-group {
        margin-left: 25px; }
      .step.step-2 .checklist .check-group label {
        display: block;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 10px;
        color: #000;
        text-align: center;
        width: 100%;
        padding: 21% 5px 5px;
        border: 2px solid rgba(0, 0, 0, 0);
        border-radius: 15px;
        transition: all 0.3s ease-in-out;
        background-color: #fff;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08); }
        .step.step-2 .checklist .check-group label::before {
          content: '';
          display: block;
          width: 50px;
          height: 50px;
          margin: 0 auto 10px;
          border-radius: 100px;
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat; }
        .step.step-2 .checklist .check-group label.lightBlue::before {
          background-image: url(../../img/icons/dropBlue.svg); }
        .step.step-2 .checklist .check-group label.green::before {
          background-image: url(../../img/icons/dropGreen.svg); }
        .step.step-2 .checklist .check-group label.brown::before {
          background-image: url(../../img/icons/dropBrown.svg); }
        .step.step-2 .checklist .check-group label.noWaste::before {
          background-image: url(../../img/icons/noWaste.svg); }
        .step.step-2 .checklist .check-group label.waste::before {
          background-image: url(../../img/icons/waste.svg); }
      .step.step-2 .checklist .check-group input {
        display: none; }
        .step.step-2 .checklist .check-group input:checked ~ label {
          border: 2px solid #5BA0FC; }
  .step.step-3.visible::before {
    animation: Wave40 0.5s ease-in-out forwards; }
  .step.step-3 h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #052356;
    margin: 70px 0 40px; }
  .step.step-3 .checklist {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .step.step-3 .checklist .check-group {
      display: block;
      width: calc(100% / 3 - 14px);
      text-align: center;
      margin-left: 20px;
      margin-bottom: 30px; }
      .step.step-3 .checklist .check-group:nth-of-type(3n+1) {
        margin-left: 0; }
      .step.step-3 .checklist .check-group input {
        display: none; }
        .step.step-3 .checklist .check-group input:checked ~ label {
          background-color: #052356;
          color: #fff; }
          .step.step-3 .checklist .check-group input:checked ~ label.sunCream::before {
            background-image: url(../../img/icons/sunCreamWhite.svg); }
          .step.step-3 .checklist .check-group input:checked ~ label.parfumDeodorant::before {
            background-image: url(../../img/icons/parfumWhite.svg); }
          .step.step-3 .checklist .check-group input:checked ~ label.hydratingCream::before {
            background-image: url(../../img/icons/hydratingCreamWhite.svg); }
          .step.step-3 .checklist .check-group input:checked ~ label.makeup::before {
            background-image: url(../../img/icons/makeupWhite.svg); }
          .step.step-3 .checklist .check-group input:checked ~ label.refueling::before {
            background-image: url(../../img/icons/refuelingWhite.svg); }
          .step.step-3 .checklist .check-group input:checked ~ label.cigarettes::before {
            background-image: url(../../img/icons/cigaretteWhite.svg); }
          .step.step-3 .checklist .check-group input:checked ~ label.pesticides::before {
            background-image: url(../../img/icons/pesticideWhite.svg); }
          .step.step-3 .checklist .check-group input:checked ~ label.painting::before {
            background-image: url(../../img/icons/paintWhite.svg); }
      .step.step-3 .checklist .check-group label {
        background-color: #EFF5FF;
        display: block;
        width: 100%;
        font-weight: 500;
        font-size: 8px;
        color: #000;
        padding: 13px 0 5px;
        border-radius: 10px;
        transition: all 0.3s ease-in-out; }
        .step.step-3 .checklist .check-group label::before {
          content: '';
          display: block;
          width: 48px;
          height: 48px;
          margin: 0 auto 10px;
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat; }
        .step.step-3 .checklist .check-group label.sunCream::before {
          background-image: url(../../img/icons/sunCream.svg); }
        .step.step-3 .checklist .check-group label.parfumDeodorant::before {
          background-image: url(../../img/icons/parfum.svg); }
        .step.step-3 .checklist .check-group label.hydratingCream::before {
          background-image: url(../../img/icons/hydratingCream.svg); }
        .step.step-3 .checklist .check-group label.makeup::before {
          background-image: url(../../img/icons/makeup.svg); }
        .step.step-3 .checklist .check-group label.refueling::before {
          background-image: url(../../img/icons/refueling.svg); }
        .step.step-3 .checklist .check-group label.cigarettes::before {
          background-image: url(../../img/icons/cigarette.svg); }
        .step.step-3 .checklist .check-group label.pesticides::before {
          background-image: url(../../img/icons/pesticide.svg); }
        .step.step-3 .checklist .check-group label.painting::before {
          background-image: url(../../img/icons/paint.svg); }
  .step.step-4.visible::before {
    animation: Wave20 0.5s ease-in-out forwards; }
  .step.step-4 h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #052356;
    margin: 70px 0 0; }
  .step.step-4 h3 {
    font-weight: 500;
    font-size: 20px;
    color: #052356;
    margin: 30px 0; }
  .step.step-4 .checklist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    .step.step-4 .checklist .title {
      min-width: 100%; }
    .step.step-4 .checklist:nth-of-type(1) input {
      display: none; }
    .step.step-4 .checklist:nth-of-type(1) label {
      font-weight: 500;
      font-size: 15px; }
    .step.step-4 .checklist:nth-of-type(2) input {
      display: none; }
    .step.step-4 .checklist:nth-of-type(2) label {
      font-weight: 500;
      font-size: 15px; }
    .step.step-4 .checklist:nth-of-type(3) input {
      display: none; }
    .step.step-4 .checklist:nth-of-type(3) .labelBoats {
      display: block;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 10px;
      width: 86px;
      font-size: 15px;
      padding-top: 15px;
      padding-bottom: 5px;
      text-align: center; }
      .step.step-4 .checklist:nth-of-type(3) .labelBoats::before {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        margin: 0 auto;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat; }
      .step.step-4 .checklist:nth-of-type(3) .labelBoats.anglingBoats::before {
        background-image: url(../../img/icons/fish.svg); }
      .step.step-4 .checklist:nth-of-type(3) .labelBoats.hobbiesBoats::before {
        background-image: url(../../img/icons/loisir.svg); }
      .step.step-4 .checklist:nth-of-type(3) .labelBoats.sailingBoats::before {
        background-image: url(../../img/icons/voile.svg); }
    .step.step-4 .checklist:nth-of-type(3) ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap; }
      .step.step-4 .checklist:nth-of-type(3) ul label {
        font-weight: 500;
        font-size: 15px; }
      .step.step-4 .checklist:nth-of-type(3) ul .progress {
        margin-top: 24px; }
        .step.step-4 .checklist:nth-of-type(3) ul .progress .bar {
          height: 2px; }
          .step.step-4 .checklist:nth-of-type(3) ul .progress .bar img {
            width: 19px;
            bottom: -7px; }
            .step.step-4 .checklist:nth-of-type(3) ul .progress .bar img.one {
              left: 0; }
            .step.step-4 .checklist:nth-of-type(3) ul .progress .bar img.two {
              left: 100%;
              transform: translateX(-100%); }
          .step.step-4 .checklist:nth-of-type(3) ul .progress .bar .filled.one {
            width: 0; }
          .step.step-4 .checklist:nth-of-type(3) ul .progress .bar .filled.two {
            width: 100%; }
    .step.step-4 .checklist .progress {
      min-width: 100%; }
      .step.step-4 .checklist .progress .bar {
        width: 100%;
        height: 6px;
        background-color: #052356;
        border-radius: 100px;
        margin-bottom: 8px;
        position: relative; }
        .step.step-4 .checklist .progress .bar .filled {
          height: 100%;
          width: 0;
          background-color: #5BA0FC;
          border-radius: 100px 0 0 100px;
          position: absolute;
          left: 0;
          top: 0;
          transition: all 0.5s ease-in-out; }
          .step.step-4 .checklist .progress .bar .filled.zero {
            width: 0; }
          .step.step-4 .checklist .progress .bar .filled.one {
            width: 33.333%; }
          .step.step-4 .checklist .progress .bar .filled.two {
            width: 66.66%; }
          .step.step-4 .checklist .progress .bar .filled.three {
            width: 100%; }
        .step.step-4 .checklist .progress .bar img {
          width: 24px;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: all 0.5s ease-in-out; }
          .step.step-4 .checklist .progress .bar img.zero {
            left: 0; }
          .step.step-4 .checklist .progress .bar img.one {
            left: 33.333%;
            transform: translateX(-10%); }
          .step.step-4 .checklist .progress .bar img.two {
            left: 66.66%;
            transform: translateX(-10%); }
          .step.step-4 .checklist .progress .bar img.three {
            left: 100%;
            transform: translateX(-100%); }
  .step.step-5.visible::before {
    animation: Wave0 0.5s ease-in-out forwards; }
  .step.step-5 h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #052356;
    margin: 70px 0 10px; }
  .step.step-5 p {
    font-size: 16px;
    font-weight: 400;
    color: #052356;
    margin: 0 0 15px; }
  .step.step-5 .form-group {
    margin-bottom: 25px; }
    .step.step-5 .form-group label {
      display: none; }
    .step.step-5 .form-group textarea {
      width: 100%;
      font-size: 14px;
      font-weight: 400;
      border-radius: 10px;
      background-color: #fff;
      color: rgba(5, 35, 86, 0.66);
      padding: 15px;
      border: none; }
  .step.step-5 button[type="submit"] {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%); }

@keyframes Wave60 {
  from {
    top: 80vh; }
  to {
    top: 60vh; } }
@keyframes Wave40 {
  from {
    top: 60vh; }
  to {
    top: 40vh; } }
@keyframes Wave20 {
  from {
    top: 40vh; }
  to {
    top: 20vh; } }
@keyframes Wave0 {
  from {
    top: 20vh; }
  to {
    top: 0vh; } }

/*# sourceMappingURL=datas.css.map */
